/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */
/**
 * Import variables
 */
/**
 * Import npm dependencies
 * see: https://v2.parceljs.org/features/module-resolution/
 * see commented examples below
 */
/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */
/*VARIABLES*/
/*background*/
/*color de fuente*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #fff;
  font-size: 14px;
  line-height: 20px;
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}

.contenedor {
  display: flex;
  width: 800px;
  margin: 50px auto;
  background: rgsb(228, 228, 228);
  padding: 10px;
}
.contenedor .encabezados_curriculum_izquierdo {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
  letter-spacing: 4px;
}
.contenedor .contenedor_Izquierdo {
  width: 35%;
  background: #145961;
}
.contenedor .contenedor_Izquierdo .imagen_curriculum {
  width: 100%;
}
.contenedor .contenedor_Izquierdo .imagen_curriculum img {
  width: 100%;
  display: block;
}
.contenedor .contenedor_Izquierdo .curriculum_texto {
  color: #64b8f4;
}
.contenedor .contenedor_Izquierdo .bajoFoto {
  padding: 20px 30px;
}
.contenedor .contenedor_Izquierdo .contenedor .raya {
  padding: 20px 0;
  border-bottom: 1px solid #0c161c;
}
.contenedor .contenedor_Izquierdo .contenedor :last-child {
  border-bottom: 0;
}
.contenedor .contenedor_Izquierdo .nombre_profesion {
  display: none;
}
.contenedor .contenedor_Izquierdo .nombre_profesion .nombre {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 4px;
}
.contenedor .contenedor_Izquierdo .nombre_profesion .trabajo {
  color: #145961;
}
.contenedor .contenedor_Izquierdo .nombre_profesion .contacto .subtitulos_izquierdo {
  color: #fff;
  margin-bottom: 2px;
}
.contenedor .contenedor_Izquierdo .habilidades .grafica_habilidades {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.contenedor .contenedor_Izquierdo .habilidades .barras p {
  position: relative;
  width: 125px;
  height: 20px;
  background: rgsb(228, 228, 228);
}
.contenedor .contenedor_derecho {
  width: 65%;
  padding: 20px 40px;
  color: #26252d;
}
.contenedor .contenedor_derecho .nombre_profesion .nombre {
  color: #26252d;
  font-size: 32px;
}
.contenedor .contenedor_derecho .nombre_profesion .trabajo {
  font-size: 14px;
  text-transform: uppercase;
}
.contenedor .contenedor_derecho .raya .encabezados_curriculum_izquierdo {
  color: #26252d;
}
.contenedor .contenedor_derecho .periodos_anuales {
  display: flex;
}
.contenedor .contenedor_derecho .periodos_anuales:last-child .year:after {
  display: none;
}
.contenedor .contenedor_derecho .periodos_anuales .content {
  padding-left: 35px;
  margin-bottom: 20px;
  width: calc(100% - 115px);
}
.contenedor .contenedor_derecho .periodos_anuales .year {
  padding-right: 35px;
  width: 115px;
  position: relative;
}
.contenedor .contenedor_derecho .periodos_anuales .year:after {
  content: "";
  position: absolute;
  top: 17px;
  right: 4px;
  width: 3px;
  height: 90%;
  background: #0c161c;
}
.contenedor .contenedor_derecho .periodos_anuales .year:before {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 10px;
  height: 10px;
  background: rgsb(228, 228, 228);
  border: 1px solid #26252d;
  border-radius: 50%;
}
.contenedor .contenedor_derecho .hobbies .curriculum_texto {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.contenedor .contenedor_derecho .hobbies .aficiones .int_icon {
  font-size: 38px;
  color: #0c161c;
  margin-bottom: 10px;
}

.contenedor .contenedor_Izquierdo .nombre_profesion .contenedor .contacto .curriculum_texto:last-child {
  margin-top: 10px;
}

.contenedor .contenedor_Izquierdo .habilidades .grafica_habilidades .barras p span {
  position: absolute;
  top: 0;
  left: 0;
  background: #0c161c;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 850px) {
  .contenedor {
    width: 95%;
    margin: 10px auto;
    flex-direction: column;
  }
  .contenedor .contenedor_derecho {
    width: 100%;
  }
  .contenedor .contenedor_derecho .nombre_profesion {
    display: none;
  }
  .contenedor .contenedor_Izquierdo {
    width: 100%;
  }
  .contenedor .contenedor_Izquierdo .nombre_profesion {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .contenedor .contenedor_derecho {
    padding: 20px 30px;
  }
  .contenedor .periodos_anuales {
    flex-direction: column;
  }
  .contenedor .periodos_anuales .content {
    width: 100%;
    padding: 0;
  }
  .contenedor .year {
    padding: 0;
    margin-bottom: 5px;
    width: 100%;
    color: #0c161c;
  }
  .contenedor .year:before {
    display: none;
  }
  .contenedor .year:after {
    display: none;
  }
}
/**
 * Do NOT include anything else in this file!
 *//*# sourceMappingURL=main.css.map */